.Note {
  font-family: "Karla", sans-serif;
  color: #fff;
  min-width: 250px;
  max-height: 200px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #4381c1;
  box-shadow: 7px 13px 30px -1px rgba(0, 0, 0, 0.75);
}

.title {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 15px auto;
  font-size: larger;
}

.text {
  font-weight: 400;
  text-align: center;
}
