.Login {
  background-color: white;
  box-shadow: 10px 15px 5px 3px rgba(0, 0, 0, 0.53);
  margin: auto;
  /* align-items: center;
  justify-content: center; */
  height: 60vh;
  width: 450px;
}

.Form {
  width: 80%;
  margin: auto;
}

.welcome {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 60%;
}
